/**
Manage the grid display
*/
.container {
  display: grid;
  height: 100vh;

  grid-template-columns:
  [first] 400px
  [second] auto
  [third] 400px [endcol];

  grid-template-rows:
  [row1-start] 60px
  [row1-end row2-start] minmax(120px, 240px)
  [row2-end row3-start] 44px
  [row3-end row4-start] 80px
  [row4-end row5-start] auto
  [row5-end row6-start] 40px
  [row6-end row7-start] 40px [row7-end];
}

.header {
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row1-start;
  grid-row-end: row1-end;

  text-align: right;
}

.main {
  justify-self: center;
}

.logo {
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: row2-start;
  grid-row-end: row2-end;

  align-self: end;
  margin-bottom: 30px;
}

/* SEARCHBAR */
.searchbar {
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: row3-start;
  grid-row-end: row3-end;


  z-index: 2;
  /* align-self: center; */
  width: 580px;
}

#searchborder {
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: row3-start;
  grid-row-end: row3-end;
  width: 580px;
  height: 44px;
}

.boutons {
  /* background-color: deeppink; */
  grid-column-start: second;
  grid-column-end: third;
  align-self: center;

}

.boutons button {
  margin: 11px 4px;
}

.langues {
  /* background-color: royalblue; */
  grid-column-start: second;
  grid-column-end: third;
}

/* FOOTER */

.localisation {
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row6-start;
  grid-row-end: row6-end;

}

.content {
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row7-start;
  grid-row-end: row7-end;
}

.footer {
  align-self: center;
  z-index: 2;
}

.localisation, #left-footer li {
  padding-left: 27px;
}


.background {
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row6-start;
  grid-row-end: row7-end;

}

#right-footer {
  float: right;
}

#right-footer li {
  padding-right: 27px;
}
