/**
Manage the grid display
*/
.container {
  display: grid;
  height: 100vh;

  grid-template-columns:
  [first] 400px
  [second] auto
  [third] 400px [endcol];

  grid-template-rows:
  [row1-start] 60px
  [row1-end row2-start] minmax(120px, 240px)
  [row2-end row3-start] auto
  [row3-end row4-start] auto
  [row4-end row5-start] minmax(20px, 240px)
  [row5-end row6-start] 30px
  [row6-end row7-start] 30px [row7-end];
}

.header {
  background-color: steelblue;
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row1-start;
  grid-row-end: row1-end;

  text-align: right;
}

.header li {
  margin: 10px 5px;
}

li {
  display: inline-block;
}

.logo {
  background-color: plum;
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: row2-start;
  grid-row-end: row2-end;

  justify-self: center;
  align-self: end;
}

.searchbar {
  background-color: khaki;
  grid-column-start: second;
  grid-column-end: third;
}

.boutons {
  background-color: deeppink;
  grid-column-start: second;
  grid-column-end: third;
}

.langues {
  background-color: royalblue;
  grid-column-start: second;
  grid-column-end: third;
}

.localisation {
  background-color: orangered;
  grid-column-start: first;
  grid-column-end: endcol;
}

/** FOOTER */
.footer {
  grid-column-start: first;
  grid-column-end: endcol;
  grid-row-start: row7-start;
  grid-row-end: row7-end;

}

.background {
  background-color: silver;
}
.content {
  z-index: 2;
  align-self: center;
}

.footer ul {
  display: inline-block;
  vertical-align: middle;
}

#right-footer {
  float: right;
}
